
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet');

.content {max-width: 800px;
margin: 50px auto;
padding: 10px;
color: #282c34;
background-color: rgba(90, 152, 168, 0.601);
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 18px;
color: black;};

.resepti{
  text-align: left;
}

h1 {
  color: #156473ff;
  font-size: 170%;
}

h2 {
  color: #156473ff;
  font-size: 145%;
}

p {
  color: #000;
 font-size: 125%;
}

.row {
  display: flex;
}
.column {
  flex: 100%;
  padding: 3px;
}